.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* position: relative; */
}

/* .landing-page-img {
  display: 'flex';
  align-items: 'center';
  justify-content: 'space-between';
  padding: '20px';
  margin: 'auto';
  border-radius: '100px';
  width: 400;
} */
