.scroller {
  display: grid;
  gap: '10px';
  grid-auto-flow: column;
  grid-auto-columns: 53%;
  overflow-x: auto;
  overflow-y: hidden;
  overscroll-behavior-inline: contain;
  padding: 2px 0;
}

.logo {
  width: 100px;
  height: 100px;
  margin: 5px;
}

.css-8je8zh-MuiTouchRipple-root:focus{
  background-color:  yellow;
}
