.media-scroller {
  display: grid;
  gap: 1rem;
  grid-auto-flow: column;
  /* grid-auto-columns: 85%; */
  overflow-x: auto;
  overflow-y: hidden;
  overscroll-behavior-inline: contain;
}

@media (max-width: 300px) {
  .media-scroller {
    gap: 0.5rem;
    grid-auto-columns: 100%;
  }

}
