.App {
  position: relative;
  width: 420px;
  height: 966px;
  margin: auto;
  border: 16px rgb(35, 25, 41) solid;
  border-top-width: 60px;
  border-bottom-width: 60px;
  border-radius: 36px;
  overflow-y: scroll;
  transform: scale(1);
}

.svg-path-purple {
  fill: #988fad;
}

.svg-path-dark {
  fill: #625b71;
}

.svg-path:hover {
  fill: #625b71;
  transition: fill 0.2s ease-in-out;
}
